@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

#nav,
#hero,
#about,
#education,
#tech,
#projects,
#contact {
  scroll-snap-align: start;
}

::-moz-selection {
  color: #0f172a;
  background: #f1f1f1;
}

::selection {
  color: #0f172a;
  background: #f1f1f1;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
